
<div class="bootstrap-wrapper">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-2">
    <app-admin-sidebar></app-admin-sidebar>
    </div>
    <div class="col-md-10">
<div *ngIf="attachment.length <= 0">
    <h1 style="color: grey; margin: 20%;">No Records to display</h1>

</div>
<div *ngIf="attachment.length > 0">
    <h2 class="text-center">APPROVED REQUEST: </h2>
    <table class="table table-success">
        <thead>
          <tr>
            <th scope="col">Document Id</th>
            <th scope="col">fileName</th>
            <th scope="col">fileType</th>
            <th scope="col">Username</th>   
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attachment of attachment">
            <th scope="row">{{attachment.id}}</th>
            <td>{{attachment.fileName}}</td>
            <td>{{attachment.fileType}}</td>
            <td>{{attachment.user.id}}</td>
            <td>&#x2705;</td>
            <!-- <td><button  (click)="viewAttachment(attachment.id)" class="btn btn-primary" style="cursor: pointer;">View</button></td> -->
          </tr>
        </tbody>
      </table>
  </div>
  </div>